<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <script type="text/javascript" th:href="@{webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:href="@{webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="jumbotron text-center">
    <h1>我的第一个 Bootstrap 页面</h1>
    <p>重置浏览器大小查看效果!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>第一列</h3>
            <p>菜鸟教程</p>
            <p>学的不仅是技术，更是梦想！！！</p>
        </div>
        <div class="col-sm-4">
            <h3>第二列</h3>
            <p>菜鸟教程..</p>
            <p>学的不仅是技术，更是梦想！！！</p>
        </div>
        <div class="col-sm-4">
            <h3>第三列</h3>
            <p>菜鸟教程..</p>
            <p>学的不仅是技术，更是梦想！！！</p>
        </div>
    </div>
</div>

</body>
</html>