<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <script type="text/javascript" th:href="@{webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:href="@{webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>


    <div class=container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>mobile</th>
                <th>email</th>
                <th>sex</th>
                <th>nickname</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>




</body>
</html>